body{
    margin: 0;
    background-color: #e9e9e9;
}
.carrossel{
    display: flex;
    align-items: center;
    margin: 0;
}
#arrowLeft{
    width: 50px;
    height: 100px;
    align-items: center;
    vertical-align: center;
    position: absolute;
}
#arrowRight{
    width: 50px;
    height: 100px;
    align-items: center;
    vertical-align: center;
    position:absolute;
    margin-left: 96%;
}
#imgCarrossel{
    width: 100%;
}