#logo{
    width: 100px;
    display: flex;
    align-items: left;
    margin-left: 20px;
}
#lupa{
    width: 20px;
    display: flex;    
}
#botaoLupa{
    background-color: #FFBF00;
    border-color: #FFBF00;
    border: none;
}
#barraDePesquisa{
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    border: none;
    text-align: left;
    width: 500px;
    height: 30px;
    border-radius: 5px;
}
.divBarraDePesquisa{
    position: relative;
    display: flex;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFBF00;
}
#botaoCarrinho{
    background-color: #4b3621;
    color: #FFBF00;
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}
#botaoMeusPedidos{
    background-color: #4b3621;
    color: #FFBF00;
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    margin-left: 15px;
}
#botaoCadastre{
    background-color: #4b3621;
    color: #FFBF00;
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    margin-left: 15px;
}
#botaoLogin{
    background-color: #4b3621;
    color: #FFBF00;
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    margin-left: 15px;
    margin-right: 20px;
}
body{
    margin: 0;
}